
  <%= form_for(@message) do |form| %>
    <%= form.hidden_field :room_id, value: @room.id %> 
    <div >
      <%= form.text_field :content, placeholder: "說說話"%>
      <%= form.submit "發送" %>
    </div>
  <% end %>
