 <%= form_for(@message, remote: true) do |form| %>
    <%= form.hidden_field :room_id, value: @room.id %> 
    <div class="flex chat_btn">
      
        <%= form.text_field :content, placeholder: "說說話", class:'w-1/2'%>
        <%= form.submit "發送", class:'w-16' %>
      
    </div>
  <% end %>
