  <%= form_for(@message, remote: true) do |form| %>
    <%= form.hidden_field :room_id, value: @room.id %>
      <div class="flex">
        <%= form.text_field :content, placeholder: " 輸入框", class:' text-3xl rounded-lg w-9/12 focus:ring-2 focus:ring-yellow-500'%>
        <%= form.submit "發送", class: "text-3xl bg-yellow-50 w-3/12 rounded-lg hover:bg-yellow-100 active:bg-yellow-500 "%>
      </div>
  <% end %>
