$color-primary: #ffcb03;
$color-primary-darker: #ffbb00;
$color-secondary-opacity: #ffcd0331;
$color-secondary-gradient: linear-gradient(to top left, #ffb003, #ffcb03);

$color-black: #000;
$color-white: #fff;
