<%= render 'tasks_bar' %>
<section class="w-full max-w-md mx-auto my-8">
  <div class="border border-gray-300 rounded-lg px-8 pt-6 pb-8">
    <h2 class="form-title">新增任務</h2>

    <%= render 'form', task: @task %>
    <%= link_to "返回任務列表", tasks_path, class:"link" %>
  </div>

</section>

