<div class='text-center'>
  <h1 class='text-red-700'>請注意！</h1>
  <p class='text text-yellow-900 p-5'>此ＱＲcode僅能提供給您的受僱者，請勿洩露給其他人！</p>
  <div class='flex justify-center' id="qrcode" data-message="<%= @task_url%>"></div>
</div>