<footer class="footer-container">
  <ul class="footer">
    <li class="footer-item">
      <a href="#" class="footer-link">合作店家</a>
    </li>
     <li class="footer-item"><%=link_to '聯絡客服', cussevers_path,class:"footer-link" %>
    </li>
    <li class="footer-item"><%= link_to '關於我們',about_us_path, class:"footer-link" %>
    </li>
    <li class="footer-item"><%= link_to '常見問題', questions_path, class:"footer-link" %>
  </ul>
  # <%= image_tag("logo.png", size: "150x55", :class => "footer-img")%>
  <p class="footer-copyright">
    © Copyright by
  </p>
</footer>
