<div id="myForm" class="form-popup">
  <span class="closebtn"    onclick="closeSearch()" title="Close Overlay">×</span>
  <div class=text>
    <h1>Contact US</h1>
    <p>想聯絡我們麻？</p>
    <p>請mail給我們</p>
    <div class="btn">
      <button type="submit" onclick="closeForm()">確認</button>
    </div>
  </div>
</div>
<footer class="footer-container">
    <ul class="footer">
      <li class="footer-item">
        <a href="#" class="footer-link">合作店家</a>
      </li>
      <li class="footer-item">
        <a href="#" class="footer-link" id="js-contact" >聯絡客服</a>
      </li>
      <li class="footer-item">
        <a href="#" class="footer-link">關於我們</a>
      </li>
      <li class="footer-item">
        <a href="#" class="footer-link">常見問題</a>
      </li>
    </ul>
    <%= image_tag("fake-logo.jpg", size: "32x20", :class => "footer-img")%>
    <p class="footer-copyright">
      © Copyright by
    </p>
    
</footer>
<script>
  document.getElementById("js-contact").addEventListener('onclick',(e)=> {
  e.preventDefault()

  document.getElementById("myFrom").style.display = 'block';
  })

  function closeForm() {
  document.getElementById("myForm").style.display = "none";
  }
  function closeSearch() {
  document.getElementById("myForm").style.display = "none";
  }

document.getElementById("myForm").style.display = "hid";

</script>

 

  
