<footer class="footer-container">
  <ul class="footer">
    <li class="footer-item">
      <li class="footer-item"><%=link_to '合作店家', partner_path,class:"footer-link" %>
    </li>
      <li class="footer-item"><%=link_to '聯絡客服', services_path,class:"footer-link" %>
    </li>
      <li class="footer-item"><%= link_to '關於我們', about_us_path, class:"footer-link" %>
    </li>
      <li class="footer-item"><%= link_to '常見問題', questions_path, class:"footer-link" %>
  </ul>
  <p class="footer-copyright">
    © Copyright by RowLeg
  </p>
</footer>
