<header>
  <nav class="nav-container">
    <div class="logo-box">
      <%= link_to root_path, class:"menu-link" do %>
        <%= image_pack_tag("web-logo.png", size: "150x100")%>
      <% end %>
    </div>
    <ul class="menu">
      <%= render 'shared/menu' %>
    </ul>
    <div class="mobile-btn">
      <div class="hamburger"></div>
    </div>
  </nav>
  <div class='mt-28'></div>
  <div class="mobile-menu menu-default">
    <ul>
      <%= render 'shared/menu' %>
    </ul>
  </div>
  <button class="pagetop-btn">
    <i class="fas fa-chevron-up"></i>
  </button>
</header>
