<main class="container mx-auto" id="container">
  <section class="title-container">
    <div class="company-img">
      <%= image_pack_tag("home-image.png", size: "800x420")%>
    </div>
    <div class="title-box">
      <h1>生活，就是這麼簡單！</h1>
      <p>想吃名店美食卻沒有時間排隊？</p>
      <p>搶不到限量商品的號碼牌？</p>
      <div class="mt-6">
        <%= link_to "開始使用", new_user_registration_path, class:"about-us-link bg-yellow-400 p-3" %>
      </div>
    </div>
  </section>
</main>
