<main class="container px-5 mx-auto" id="container">
  <section class="title-container">
    <div class="title-box">
      <h1>
        <span class="title title-first"
          ><span class="highlight">阿美小明</span> 兩人四腳</span
        >
        <span class="title title-second"
          >專業代排 <span class="highlight"> 值得信賴</span></span
        >
      </h1>
    </div>
  </section>
  <section class="company-intro">
    <div class="company-img">
      <%= image_pack_tag("homepage.jpeg", size: "600x350")%>
    </div>
    <div class="company-desc">
      <h2 class='highlight font-extrabold'>ROW LEG</h2>
        <div class="px-5 italic text-xl font-medium">
          <div class="leading-9">我們致力於讓有時間的人可以銷售時間。</div>
          <div class="leading-9">我們致力於讓有沒有時間的人可以買時間。</div>
          <div class="leading-9">趕快加入我們，讓我們一起互助互惠。</div>
        </div>
    </div>
  </section>
</main>
