<main class="container px-5 mx-auto" id="container">
  <section class="title-container">
    <div class="title-box">
      <h1>
        <span class="title title-first"
          ><span class="highlight">阿美小明</span>共四隻腳</span
        >
        <span class="title title-second"
          >專業代排<span class="highlight">值得信賴</span></span
        >
      </h1>
      <button class="link-spec know-more">知道更多&DownArrow;</button>
    </div>
  </section>
  <section class="company-intro">
    <div class="company-img">
      <%= image_tag("homepage-img", size: "600x350")%>
    </div>
    <div class="company-desc">
      <h2>ROW REG</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus iste unde
        ipsam obcaecati excepturi nam aliquid qui molestiae. Unde reprehenderit,
        iure cumque sed inventore eveniet soluta placeat quidem sunt corrupti,
        accusantium beatae ipsam esse suscipit fuga earum iste dolor quae atque
        aliquam reiciendis tempore? Maxime repellendus, voluptate cum quam
        voluptas aperiam qui similique, autem inventore numquam excepturi itaque
        fuga illo eos nam natus quo optio nostrum accusantium aliquid officiis
        possimus.
      </p>
    </div>
  </section>
</main>
