<section class="header-about">
  <div class="about-title">
    <h1>阿美 <span class="highlight">小明</span><br><span class="highlight">共四</span>隻腳</h1>
    <h2>專業代排，值得信賴</h2>
    <button class="btn-text">知道更多&DownArrow;</button>
  </div>
  <div class="about-img">
    <%= image_tag("homepage-img", size: "600x350")%>
  </div>
</section>
<section class="index-task">
  <h2>這邊會是首頁任務列</h2>
</section>
