<div class="text-container">
  <div class="text-text">
    <%= image_tag("queue2.png", size: "800x800")%>
    <div class="text-title">
      <h1>關於</h1>
      <br>
      <p>腿排是一個人力媒合服務平台，為您做任何您想做的事情。想吃什麼懶得排嗎？還是天氣太熱不想在太陽底下排隊購買東西呢？現在動手馬上發布任務，就會找到願意替你犧牲奉獻代你排隊的人。</p>
      <br>

     <div class="people" > <%= image_tag("people.png", size: "200x200")%></div>


  </div>
</div>
