<div id="myForm" class="form-popup">
  <span class="closebtn" onclick="location.href='http://127.0.0.1:3000/'">×</span>
  <div class=text>
    <h1>Contact US</h1>
    <p>想聯絡我們麻？</p>
    <p>請mail給我們</p>
    <div class="btn">
      <button type="submit" value="首頁" onclick="location.href='http://127.0.0.1:3000/'">確認</button>
    </div>
  </div>
</div>