<div data-component="slideshow" class="slidebox flex">
  <div class="slide bg-white m-auto">
    <img src="/imgs/pan3.png">
  </div>
  <div class="slide bg-white m-auto">
    <img src="/imgs/pan2.png">
  </div>
  <div class="slide bg-white m-auto">
    <img src="/imgs/pan1.png">
  </div>
</div>