<div class="form-design">
  <h2>聯絡表單</h2>
<div class="form-contact">
  <input type="text" placeholder="姓名" class="cus-input">
  <input type="text" placeholder="電話" class="cus-input">

  <select>
  <option value="suggest">給腿排的建議</option>
  <option value="services">客服</option>
  </select>

  <h3>內容 </h3>
  <textarea type="subject" placeholder="wirting....." class="cus-textarea"></textarea>

  <input type="submit" value="送出" class="cs-submit">
</div>
</div>