.chat-room-container {
  @apply flex flex-col items-center lg:block max-w-7xl mx-auto mb-32;

  .chat-room-head {
    @apply my-10 lg:mt-36 lg:pl-12 xl:pl-0;

    .chat-room-title {
      @apply text-5xl lg:text-6xl text-orange-primary font-sans font-bold relative;
    }

    .chat-room-subtitle {
      @apply text-3xl lg:text-4xl text-orange-darker;
    }
  }

  .chat-room-box {
    @apply flex justify-center px-3 lg:px-0 md:w-full;

    .chat-room-sidebar {
      @apply pt-14 pb-28 hidden md:block;

      .sidebar-list {
        .sidebar-item {
          @apply mb-5 block py-2 px-1 hover:bg-gray-200 md:w-auto;
        }
      }
    }

    .chat-room-content {
      @apply  relative w-full md:w-auto md:pl-7;

      .chat-room-role {
        @apply my-4 relative text-2xl md:text-3xl;

        .employee-btn,
        .employer-btn {
          @apply pb-3 text-gray-400;
        }

        .employee-btn.role-btn-active,
        .employer-btn.role-btn-active {
          @apply border-b-4 border-solid border-orange-primary text-gray-900;
        }

        .employee-btn {
          @apply mr-5;
        }

        .back-to-task {
          @apply absolute -top-14 py-2 px-2 hover:bg-gray-200 hidden md:inline-block md:-right-12 lg:-right-28 xl:-right-96;
        }
      }

      .chat-room-info {
        .room {
          @apply relative text-gray-700;

          .room-user {
            @apply block mb-2 text-black text-xl md:text-2xl;
          }

          .room-link {
            @apply block bg-gray-50 hover:bg-gray-200 px-2 py-3 mb-3  rounded-lg;
          }

          .room-time {
            @apply absolute top-1 right-1;
          }
        }
      }
    }

    .chat-room-img {
      @apply hidden xl:block bg-cat xl:left-0 w-96 h-96 relative top-40 left-40;
    }
  }
}

.chat-room-title::after,.room-task-title::after {
  content: "";
  position: absolute;
  top: 60px;
  left: -100px;
  width: 220px;
  height: 1px;
  display: block;
  background-color: #facc08;
  transform: rotate(-46deg);
}
@media (min-width: 1024px) {
  .chat-room-title::after {
    width: 280px;
  }
}

.chat-room-role::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  display: block;
  background-color: #ccc;
}

.far.fa-plus-square.chat-room-icon,
.fas.fa-tasks.chat-room-icon,
.fas.fa-shoe-prints.chat-room-icon {
  @apply inline-block text-base;
}

.chat-room-img {
  background-size: cover;
  background-position: center;
}
