.task-list {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-9 leading-10 mt-8;

  .task-item {
    @apply flex flex-col bg-white shadow-lg rounded-xl relative lg:text-lg;
  
    .task-img {
      @apply bg-yellow-600 relative;

      p {
        @apply absolute text-white text-4xl font-semibold font-mono bottom-3 right-2 opacity-70;
      } 
    }

    .task-img {
      height: 200px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
      border-radius: 0.75rem 0.75rem 0 0;
    }

    .task-details {
      @apply px-3 py-3 mt-2;

      .task-title {
        @apply mb-2 relative font-bold ml-3;
      }

      .task-title::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 3px;
        height: 4px;
        width: 70%;
        background-color: $color-primary
      }

      p {
        @apply px-4 py-1 border-b border-solid border-gray-100;
      }
    }

    .task-edit {
      @apply absolute top-2 right-2 text-4xl text-white;
    }
    .task-footer {
      @apply flex-grow flex justify-between items-end px-3 py-3;

      .task-unpaid,.task-security-deposit {
        @apply text-4xl mb-3 hover:opacity-80;
      }

      .task-more-btn {

        i {
          @apply hidden sm:inline-block ml-1;
        }
      }
    }
  }
}

.task-item {
  transition: all 0.3s ;
}

.task-item:hover {
  transform: translateY(-1rem) scale(1.02);
}

.task-more-btn {background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%)}
.task-more-btn {
  margin: 10px;
  padding: 8px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
}

.task-more-btn:hover {
  background-position: right center;
  color: #fff;
}
