.task-title {
  @apply w-full flex justify-between py-3;
}

.task-container {
  @apply flex flex-col items-center mx-0 leading-6;

  .task-row {
    @apply max-w-4xl flex flex-col justify-center;

    .task-list {
      @apply relative leading-6 my-5 border-solid bg-white px-3 py-4 rounded shadow-md;

      .task-item-title {
        @apply mb-4;

        .task-item-title a {
          @apply hover:text-gray-600;
        }
      }

      .task-inf .inf-title {
        @apply text-right;
      }

      .task-inf p {
        @apply my-2;
      }

      .task-desc {
        @apply text-gray-500 relative h-40 overflow-hidden;

        p {
          @apply py-4 px-4;
        }
      }

      .task-desc-spec {
        height: auto;
      }

      .inf-open {
        display: block;
        margin-left: 95%;
        margin-top: 10px;
        font-weight: 600;
        background-color: #aaa;
        padding: 5px 5px;
        border-radius: 3px;
        color: #fff;

        &:hover {
          opacity: 0.8;
        }
      }

      .task-edit-link {
        @apply absolute top-0 right-4;
      }
    }
  }
}

.inf-title {
  @apply font-bold text-gray-800;
}
