.chat-room{
  overflow-y: scroll;
  height: 100%;
  .message{
    min-height: 50px;
    .content-container{
      display: inline-block;
      float: right;
    }
    .content{
      background-color: rgb(158, 135, 222);
      padding: 10px;
      border-radius: 15px;
    }
    .auhor{
      font-size:0.8rem;
      color:rgb(135, 141, 222);
    }
  }
  .chat-box {
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 50%;
    input[type=text]{
      height: 45px;
      font-size: 18px;
      padding: 8px;
    }
    .btn{
      height: 45px;
    }
  }
}