<%= form_for(@room) do |form| %>

<div class='flex-row my-10'>
<%= form.label :"聊天室名稱" %> <br>
<%= form.text_field :name, placeholder: '請輸入' %> <br>
<%= form.submit "add room" %>
</div>  
<hr class='my-1'>

<% end %>