<!-- 第一區塊 招呼語 -->
<section class="hidden lg:flex">
  <div class="m-auto w-9/12">
    <p class="p-1 text-3xl">
      聊天室
    </p>
    <p>
      雇主 <i class="fas fa-user-tie"></i>
      員工 <i class="fas fa-walking"></i>
    </p>
    <div class="flex">
      <!-- 第二區塊 發布任務的聊天室 設計有高度有限 超過捲軸-->
      <section class="w-1/2 mt-4 rounded-lg p-1 text-3xl text-center border border-yellow-700">
          <p><i class="fas fa-user-tie"></i></p>
          <div class="h-80 overflow-scroll">
            <div class="">
              <% @rooms.each do |room| %>
                <% if user_room_list(room) %>
                  <%= link_to "#{room.task.task_at&.strftime('%m-%d--%H:%M')}@#{room.task.store_name}", room_path(room), :method => :get, class: 'w-full inline-block text-center text-2xl m-px hover:opacity-60' %>
                <% end %>
              <% end %>
            </div>
          </div>
      </section>
      <div class="w-1/12">
      </div>
      <!-- 第三區塊 接受的任務 -->
      <section class="w-1/2 mt-4 rounded-lg p-1 text-3xl text-center border border-yellow-700">
          <p><i class="fas fa-walking"></i></p>
          <div class="h-80 overflow-scroll">
            <div>
              <% @rooms.each do |room| %>
                <% if row_leg_room_list(room) %>
                  <%= link_to "#{room.task.task_at&.strftime('%m-%d--%H:%M')}@#{room.task.store_name}", room_path(room), :method => :get, class: 'w-full inline-block text-center text-2xl m-px hover:opacity-60' %>
                <% end %>
              <% end %>
            </div>
          </div>
      </section>
    </div>
  </div>
</section>

<section class="lg:hidden flex">
  <div class="m-auto w-9/12">
    <p class="p-1 text-3xl">
      聊天室
    </p>
    <p>
      雇主 <i class="fas fa-user-tie"></i>
      員工 <i class="fas fa-walking"></i>
    </p>
    <div class="flex flex-col">
      <!-- 第二區塊 發布任務的聊天室 設計有高度有限 超過捲軸-->
      <section class="mt-4 rounded-lg p-1 text-3xl text-center border border-yellow-700">
          <p><i class="fas fa-user-tie"></i></p>
          <div class="h-80 overflow-scroll">
            <div class="">
              <% @rooms.each do |room| %>
                <% if user_room_list(room) %>
                  <%= link_to "#{room.task.task_at&.strftime('%m-%d--%H:%M')}@#{room.task.store_name}", room_path(room), :method => :get, class: 'w-full inline-block text-center text-2xl m-px hover:opacity-60' %>
                <% end %>
              <% end %>
            </div>
          </div>
      </section>
      <div class="w-1/12">
      </div>
      <!-- 第三區塊 接受的任務 -->
      <section class="mt-4 rounded-lg p-1 text-3xl text-center border border-yellow-700">
          <p><i class="fas fa-walking"></i></p>
          <div class="h-80 overflow-scroll">
            <div>
              <% @rooms.each do |room| %>
                <% if row_leg_room_list(room) %>
                  <%= link_to "#{room.task.task_at&.strftime('%m-%d--%H:%M')}@#{room.task.store_name}", room_path(room), :method => :get, class: 'w-full inline-block text-center text-2xl m-px hover:opacity-60' %>
                <% end %>
              <% end %>
            </div>
          </div>
      </section>
    </div>
  </div>
</section>
