.btn {
  @apply py-2 px-4 block cursor-pointer font-bold rounded hover:opacity-60;
}

.btn-default {
  background-color: $color-primary;
  color: $color-white;
}

.btn-edit {
  @apply bg-yellow-700 inline-block mx-2 my-2;
}

.btn-destroy {
  @apply bg-red-600 inline-block mx-2 my-2;
}

.task-show-btn, .rooms-index-btn {
  @apply bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-full;
}

.apply-btn {
  @apply text-2xl ml-12;
}

.report-btn {
  @apply animate-bounce text-2xl lg:ml-12;
}

.omniauth-btn {
  text-align: center;
}
