.btn {
  @apply py-2 px-4 block cursor-pointer text-white font-bold rounded ;
}

.btn-default {
  background-color: $color-primary;

  &:hover {
    @apply  opacity-60;
  }
}

.btn-text {
  display: inline-block;
  background: none;
  font-size: 17px;
  font-weight: 500;
  color: $color-primary;
  border: none;
  border-bottom: 1px solid $color-primary;
  padding-bottom: 2px;
  cursor: pointer;
}
