.input {
  @apply appearance-none border-solid border-transparent rounded w-full py-2 px-3 text-gray-700 leading-tight transition duration-500;

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
    border-bottom: 3px solid $color-primary;
  }
}

.field {
  @apply mb-4;
}
.form-container {
  @apply flex justify-center mt-20;

  .form-box {
    @apply border-gray-700 border-2 border-solid px-8 py-1 rounded;
    .form-title {
      @apply font-bold text-2xl text-center mb-1 text-gray-700;
    }
  }
}

.form-box {
  background-color: #fafafa;
}
//  task_new form

.task-form-container {
  @apply flex-col items-center;

  .task-input-special {
    @apply mb-4;
  }
}

.term-containerer {
  margin: auto;
  font-size: 14px;
  overflow: auto;
  height: 300px;
  border: chocolate solid 4px;
  width: 250px;
}
.container .text {
  text-align: justify;
}

.foot {
  text-align: right;
}
.tx {
  margin-left: 35px;
}

.box {
  display: flex;
}
.btnn {
  color: chocolate;
}
