.link {
  @apply block text-center mt-4 hover:opacity-70;
}

.link-spec {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-align: end;
    margin: 4px 0;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.task-new {
  font-size: 3rem;
  position: relative;
  left: 15px;
}
