.text-container{
  display: block;
}
.text-text{
  display: flex;
}
.pic{
  width:400px;
  height: 500px;
}
.text-title{
  padding: 10px;
  margin-top: 80px;
}

.text-title h1{
  border: rgb(243, 185, 164) 2px solid;
  width:90px;
  background-color:rgb(243, 185, 164);
  font-size: 30px;
}
.text-title p{
  font-size: 20px;
  color: chocolate;
  text-indent: 2em;
  text-align: justify;
}
.Provenance{
  text-align: right;
}


