<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="text-container">
    <div class="text-text">
    <%= image_tag("time.png", size: "400x800")%>
    <div class="text-title">
      <h1>關於</h1>
      <p>腿排是一個人力媒合服務平台，為您做任何您想做的事情。想吃什麼懶得排嗎？還是天氣太熱不想在太陽底下排隊購買呢？馬上發布任務，就會找到願意你犧牲奉獻排隊的人。</p>
  </div>
</div>
</body>
</html>