.form-popup{
  height: 200%;
  width: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  position: fixed;
  z-index: 1px;
  
}
.text{
  text-align: center;
  border: 3px solid rgb(255, 174, 0);
  width: 40%;
  position: relative;
  margin: auto;
  font-size: 20px;
  margin-top: 70px;
  color: rgb(235, 154, 15);
  background-color: rgb(238, 211, 175);
}
.btn{
  text-align: right;
  color:rgb(235, 154, 15);
}
.form-popup .closebtn{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: blanchedalmond;
}

.form-popup .closebtn:hover {
  color: #ccc;
}