.form-design {
  width: 50%;
  background-color: blanchedalmond;
  padding: 12px;
  border-radius: 5px;
  margin: auto;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 6px;
  font-size: 20px;
}

input[type="submit"] {
  background-color: rgb(226, 156, 43);
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  margin-left: 50%;
}
