.form-design {
  width: 50%;
  background-color: blanchedalmond;
  padding: 12px;
  border-radius: 5px;
  margin: auto;
}

.cus-input,
.cus-select,
.cus-textarea {
  @apply w-full py-3 px-3 box-border mb-4 mt-2 text-xl;
}

.cus-textarea {
  @apply h-80;
}
.cus-submit {
  @apply text-white px-3 py-5 rounded cursor-pointer text-xl;
}

.cs-submit {
  display: block;
  background-color: rgb(226, 156, 43);
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  margin: auto;
}
