.footer-container {
  @apply py-12 px-7 mt-10;
  .footer {
    @apply sm:flex-row flex flex-col items-center justify-center mb-12;
    .footer-item {
      @apply sm:mx-5;
      .footer-link {
        @apply text-white text-xl inline-block px-2 py-2 transition-all;
        &:hover {
          background-color: rgba(225, 225, 225, 0.05);
          transform: translateY(-5px);
        }
      }
    }
  }
  .footer-img {
    @apply block mx-auto mb-8;
  }
  .footer-copyright {
    @apply text-white text-center text-xl;
  }
}
.footer-container {
  background-color: #37383d;
}
