<section class="header-about">
  <div class="about-title">
    <h1>阿美 <span class="highlight">小明</span><br><span class="highlight">共四</span>隻腳</h1>
    <h2>專業代排，值得信賴</h2>
    <button class="btn-text">知道更多&DownArrow;</button>
  </div>
  <div class="about-img">
    <%= image_tag("homepage-img", size: "600x350")%>
  </div>
</section>
<section class="index-task">
  <h2>這邊會是首頁任務列</h2>
</section>
<footer class="footer-container">
  <ul class="footer">
    <li class="footer-item">
      <a href="#" class="footer-link">合作店家</a>
    </li>
    <li class="footer-item">
      <a href="#" class="footer-link">聯絡客服</a>
    </li>
    <li class="footer-item">
      <a href="#" class="footer-link">關於我們</a>
    </li>
    <li class="footer-item">
      <a href="#" class="footer-link">常見問題</a>
    </li>
  </ul>
  <%= image_tag("fake-logo.png", size: "32x20", :class => "footer-img")%>
  <p class="footer-copyright">
    © Copyright by
  </p>
</footer>